*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    color: white;
}

a{
    color: white;
}
header{
    background-color:hsl(0, 0%, 0%);
    display:flex;
    width: 100%;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    padding: 0 10%;
     
}
header img{
    max-width: 80px;
    max-height: 70px;
}
header a {
    display: inline-block;
    margin: 0 10px;
    font-size: large;
    position: relative;
}
header a::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left:0;
    background-color: white;
    transform: scaleX(0);
    transform-origin:right;
    transition:transform 300ms ease-in;
}
header a:hover::after{
    transform: scaleX(1);
    transform-origin:left ;
}
section{height: 90vh;}

.lipstick{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    width: 70%;
    margin-left: 12em;
    position: relative;

    
   
}
.grid-col-span{
    grid-column:span 2;
}
.grid-row-span{
    grid-row: span 2;
}

.lipstick div{
    position: relative;
}
span{
    font-size:7rem;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(silver,pink,black);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    margin-left: 4.5em;
    

}

 .lipstick div{
    padding: 40% 0 0 0; 
    overflow:hidden;   
    cursor:pointer;
} 
.lipstick div h2{
    position: absolute;
    bottom: 0;
}
.lipstick div:hover h2{
    transform: translateY(-120px);
    transition: transform 500ms;
} 

.lipstick :nth-child(3):hover h2{
    transform: translateY(-250px);
    transition: transform 600ms;
}

.lipstick div p{
    position: absolute;
    bottom: -50%;
} 
  .lipstick div:hover p{
    transform: translateY(-8rem);
    transition: transform 500ms ease;
    margin: 10% 0 0 0;
}  
 .lipstick :nth-child(2):hover p,
.lipstick :nth-child(4):hover p{
    transform: translateY(-6rem);
    transition: transform 600ms ease;
    margin: 10% 0 0 0;
   
}  
.lipstick :nth-child(3):hover p{

    transform: translateY(-7rem);
    transition: transform 500ms ease;
    margin: 10% 0 0 0;
   
}
.lipstick div h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 5cm;
    height:6px;
    background-color:pink;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s ease;
}
.lipstick div:hover h2::after{
    transform: scaleX(1);
    transform-origin: left;
}

.lipstick div::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height: 70%;
    background-color: hsl(0, 0%, 15%);
    opacity: 0; 
    transform: scaleY(0);
    transform-origin: top;
    transition:transform 500ms ease;
}
.lipstick div:hover::after{
    transform: scaleY(1);
    opacity: 0.5;
    transform-origin: bottom;
}

